.App {
  text-align: center;
  color:rgb(180, 180, 180);
  padding: 100px;
  
}

.stopandreset{
  height: 60px;
  width: 80px;
  margin: 5px;
  background-color: rgb(61, 48, 87);
  color:white
}
.ms{
  color: rgb(247, 213, 213)
}
